.center
{
	text-align: center;
	color: #64B93C;
}
.style img
{
	width: 200px;
	height: 150px;
}
.margin
{
	margin-left: 40px;
}
.style
{
	margin: 40px;
	display: inline-block;
	padding: 1px;
	background-color: #F2EBEA;
	box-shadow: inset 0px 0px 10px #555;
	transform: 
}

.style:hover {
  color: #F2EBEA;
  background-color: #E5DBD9;
  border: 3px solid #519e8a;
}
.button
{
text-align: center;
background: #FFFFFF;
border: 2px solid #92BE7D;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(146, 190, 125, 0.25);
border-radius: 2px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #297405;
align-self: center;
margin-left: 80px;
}
